node_modules
/build
/dist
/_pycache_
/Installer/build
/Installer/dist
/Installer/installer.spec
/Updater/__pychache__
/Updater/build
/Updater/dist
/Updater/UpdateCollector.spec
/dist
/venv
.DS_Store
.DS_Store?
